/* -- CSS Reset -- */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}

/* -- General Board  -- */
body {
    background-color:#177E89;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
#board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.actions {
    margin: 6em 0;
    display: flex;
    justify-content: center;
}
#newGame {
    margin: 0 auto;
    border-radius: 1em;
    background: #323031;
    color: #FFF;
    padding: 1em 2em;
    border: none;
    font-size: 22px;
}
.score-board {
    display: flex;
    justify-content: center;
}
.player-score {
    padding: 3em;
    font-weight: bold;
    text-transform: uppercase;
}
input[type="number"] {
    width: 50px !important;
    bordeR:none;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    border-radius: 1.5px;
}
.player-human {
    color: #FFC857;
}
.player-ai {
    color: #db3a34;
}

/* -- Cell(Square) styling  -- */
.cell {
    outline: 0;
    background-color: #177E89;
    border:#084C61 solid 4px;
    width: 33.333%;
    height: 33.333%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.humman {
    color: #FFC857;
    font-size: 5em;
}
.ai {
    color: #DB3A34;
    font-size: 5em;
}
/* every third element staring from one */
.cell:nth-child(3n+1) {
    border-left:none;
}
/* every third element staring from three */
.cell:nth-child(3n+3) {
    border-right: none;
}
/* first three elements from the list*/
.cell:nth-child(-n+3) {
    border-top: none;
}
/* last three elements from the list*/
.cell:nth-child(n+7) {
    border-bottom: none;
}

/* -- Winning conditions -- */
#overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
#overlay[class~="humman-won"]:after {
    background-color: #FFC857;
}
#overlay[class~="ai-won"]:after {
    background-color: #DB3A34;
}
#overlay:after {
    content: '';
    position: absolute;
}
.condition-0:after {
    width:100%;
    height: 6px;
    top: 17%;
    left: 0;
}
.condition-1:after {
    width:4px;
    height: 100%;
    top: 0;
    left: 16%;
}
.condition-2:after {
    width: 4px;
    height: 150%;
    top: 0;
    left: 0;
    transform: rotateZ(-44deg);
    transform-origin: 50% 0;
}
.condition-3:after {
    width:4px;
    height: 100%;
    top: 0;
    left: 50%;
}
.condition-4:after {
    width: 3px;
    right: 0;
    height: 150%;
    top: 0;
    transform: rotateZ(44deg);
    transform-origin: 50% 0;
}
.condition-5:after {
    width:4px;
    height: 100%;
    top: 0;
    left: 83%;
}
.condition-6:after {
    width:100%;
    height: 4px;
    top: 52%;
    left: 0;
}
.condition-7:after {
    width:100%;
    height: 4px;
    top: 85%;
    left: 0;
}
.condition-tie:after {
    content: 'A TIE' !important;
    width: 100%;
    height: 100%;
    left: 35%;
    top: 41%;
    font-size: 4em;
    color: #FFF;
    -webkit-text-stroke-color: black;
}
.visible {
    display: block !important;
}
